.title {
	color: var(--theme-color-dark);
	font-weight: 300;
	font-size: 42px;
	width: 100%;
	text-align: center;
}

.open-modal-button {
	background-color: var(--theme-color-normal);
	color: var(--theme-background-light);
	border: none;
	display: block;
	border-radius: var(--theme-border-radius-smooth);
	padding: 10px;
	cursor: pointer;
	flex-grow: 1;
	width: 100%;
	max-width: 225px;
	margin: auto;
}
